.rsScrollGridContent {
  text-align: center;
  padding: 11px;
  margin: 11px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 50%;
}
