.rsScrollGridContent {
  text-align: center;
  padding: 11px;
  margin: 11px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 50%;
  margin: 0 auto;
}
.rsBtn:hover {
  outline: 2px solid grey;
}
.rsBtnChecked:hover {
  background-color: var(--interactive_checked_background_color);
  outline: 2px solid grey;
}
.rsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rsScrollGridWrappper {
	display: block;
	overflow: hidden;
	justify-content: center;
	width: 100%;
}
