.cTDContainQues {
  text-align: center !important;
}

#IQTcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iqtButton {
  background-color: white;
  font-size: 25px;
  padding: 25px;
  -webkit-box-shadow: 0px 5px 15px 0px rgb(148 148 148 / 85%);
  box-shadow: 0px 5px 15px 0px rgb(148 148 148 / 85%);
  border-radius: 5px;
  cursor: pointer;
  min-width: 200px;
  transition: transform .4s;
}

.iqtButton:hover {
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
}

.beginButton {
  border-spacing: 10px;
  height: 60px;
  transition: transform .1s;
  cursor: pointer;
}

.cardscontainer {
  display: table-row;
  border-spacing: 10px;
  height: 100px;
  width: 100%;
  transition: transform .1s;
}

.npButtons {
  display: table-cell;
  max-width: 50%;
  min-width: 40%;
  cursor: pointer;
}

#iqtNeither {
  width: 100%;
  display: table-cell;
}

#theCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 10px 5px #98DACB;
  box-shadow: 0px 1px 10px 5px #98DACB;
  border-radius: 3px;
  min-height: 150px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.IQTcontainer {
  border-spacing: 15px;
  min-height: 210px;
}

.cTimerTotal {
  display: none;
}

.hideStart {
  visibility: collapse;
}

.cTable>tbody>tr:not(.cRowSubQuestion) {
  display: none;
}

.IQTtable {
  border-spacing: 10px;
}

.subSelectors {
  font-size: 1rem;
}

#countdown {
  display: none;
  font-size: 5rem;
}

@media only screen and (orientation : portrait) and (max-width: 901px) {
  .iqtButton {
    min-width: fit-content;
    min-height: fit-content;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }

  .subSelectors {
    display: none;
  }
}

@media only screen and (max-width: 901px) {
  .subSelectors {
    display: none;
  }
}

#rsPanelButtons {
  display: none;
}

.no-close {
  display: none !important;
}