.ui-controlgroup-controls {
  display: none;
}

span {
  text-shadow: none !important;
}

.Xconcept {
  text-align: left;
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  font-size: 20px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.clickable {
  background-color: none;
  cursor: pointer;
}

.none {
  background-color: none;
}

.no_click {
  cursor: text;
}

#btnHolder {
  width: auto;
  padding-top: 15px;
}

#Exclusive {
    background-color: var(--interactive_background_color);
    color: var(--interactive_text_color);
  
  padding: var(--interactive_padding);
  text-align: center;
  margin: 0 auto;
    font-size: var(--interactive_font_size);
  border: solid 1px #000000;
    border-radius: var(--interactive_border_radius);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 50%;
}
#Exclusive:hover {
    background-color: var(--interactive_background_color_hover);
    color: var(--interactive_text_color_hover);
    border: var(--interactive_border_hover);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
.exclusive-selected {
    background-color: var(--interactive_checked_background_color);
    color: var(--interactive_checked_text_color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
