.cCell {
  display: none !important;
}

.cTextArea {
  min-width: 75% !important;
}

.rsRow {
  display: contents !important;
}

.essay-progress-bar {
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
}

.essay-progress-fill {
  border-radius: 4px;
  height: 30px;
  width: 0%;
  background-color: rgba(193, 245, 233, 1);
  transition: width .5s ease-in-out;
  text-align: center;
  color: var(--progressbar_foreground_color);
}

.progress-bar-messages {
  width: 100%;
  position: absolute;
  padding: 3px 0px 0px 7px
}