.rsBtn:hover {
    outline: 2px solid grey;
    color: var(--interactive_text_color);
  }
  
  .rsBtnChecked:hover {
    background-color: var(--custom_button_checked_background_color);
    color: var(--interactive_text_color);
    outline: 2px solid grey;
  }
  
  
  .rsBtnChecked {
    background-color: var(--custom_button_checked_background_color) !important;
    color: var(--interactive_text_color) !important;
    outline: 2px solid grey;
  }

  .rsBtnOpen {
    display: flex;
    align-items: center;
  }
  
  .rsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--main_text_color);
    background-color: var(--custom_button_background_color);
}
  
  .rsAnimationText {
    font-size: 16px;
  }
  
  /* Interactive buttons variables */
  
  .rsImgBtn:hover {
    outline: 2px solid grey;
  }
  
  .rsImgBtnChecked:hover {
    background-color: var(--custom_button_checked_background_color);
    color: var(--interactive_text_color);
    outline: 4px solid var(--custom_button_checked_background_color);
  }
  
   .rsImgBtn {
       font-size: var(--interactive_font_size);
       font-weight: var(--interactive_font_weight);
       border: var(--interactive_border);
       border-radius: var(--interactive_border_radius);
       margin: var(--interactive_margin);
       padding: var(--interactive_padding);
       text-align: var(--interactive_text_align);
       vertical-align: var(--interactive_vertical_align);
       color: var(--main_text_color);
      background-color: var(--custom_button_background_color);
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      display: flex;
  }
  
   .rsImgBtn:hover {
       border: var(--interactive_border_hover);
       background-color: var(--interactive_background_color_hover);
  }
  /* Interactive buttons special variables */
   .rsImgBtnSpecial{
       border: var(--special_border);
       color: var(--main_text_color);
       background-color: var(--custom_special_background_color);
  }
  .rsImgBtnChecked {
       background-color: var(--custom_button_checked_background_color);
    color: var(--interactive_text_color);
       outline: 4px solid var(--custom_button_checked_background_color);
  }
  
  .rsImgBtnHideText {
    font-size: 0;
    color: transparent;
  }
  
