.rsCQTextArea > tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.rsCuQeTextArea > .cCell {
  display: none !important;
}

.rsCuQeTextArea > .cCellOpenText > .rsRow > .cTextArea {
  min-width: 75% !important;
}

.rsCuQeTextArea > .cCellOpenText > .rsRow {
  display: contents !important;
}

