.cTable>tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.cCell {
  display: none !important;
}

.cTextArea {
  min-width: 75% !important;
}

.rsRow {
  display: contents !important;
}

